<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio validator - Validation site</title>
</head>
<body>
    <h1> Audio file validation information </h1>

    <!--<table>-->
        <!--<tr>-->
            <!--<th> Filename </th>-->
            <!--<th> Is valid </th>-->
            <!--<th> Sample number </th>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th> {{filename}} </th>-->
            <!--<th> {{is_valid}} </th>-->
            <!--<th> {{sample_number}} </th>-->
        <!--</tr>-->

    <!--</table>-->



    <p> File {{filename}} is {{is_valid}} <br />
    {% if sample_number != ' ' %}
    First sample of silence gap: {{sample_number}}
    {% else %}
    There is no sample
    {% endif %}
    </p>
</body>
</html>