<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Online Audio Files Validator</title>
</head>
<body>
<div class="container">

    <div class="jumbotron p-3 mb-2 bg-info text-white">
        <h1> Online Audio Files Validator </h1>
        <h4> Online Audio Files Validator is a tool which checks if your audio file is valid - if contains silence gaps. <br/>
            If so, it will answer you with number of first silence-gap sample</h4>
    </div>
    <div class="container mt-3">
        <h2>Please, choose audio file to validate</h2>
        <form method=post enctype=multipart/form-data>
            <div class="custom-file mb-3">
                <input type=file class="custom-file-input" id="customFile" name=file>
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>


            <button type="submit" class="btn p-3 mb-2 bg-info text-white">Submit</button>

        </form>
    </div>
</div>

<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});


</script>

</body>
</html>